*{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    background: url("https://phonoteka.org/uploads/posts/2021-05/1620737416_2-phonoteka_org-p-cherno-belii-fon-geometriya-2.png");
    background-size: 100%;
    top: 50px;
}

.e1, .e2{
    position: absolute;
    font-size: 30px;
    color: rgb(97, 87, 87);
    left: 750px;
    top: 350px;
    background: rgba(255, 255, 255, 0);
}

.r{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 1350px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.d{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 350px;
    box-shadow: 10px 5px 5px rgb(25, 203, 192);
}

.e2{
    top: 400px;
    left: 770px;
}

.iu{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 1100px;
    box-shadow: 10px 5px 5px rgb(71, 154, 83);
}

a{
    left: 20px;
}

.o{
        width: 200px;
        height: 200px;
        border: 5px solid black;
        position: absolute;
        left: 600px;
        box-shadow: 10px 5px 5px rgb(203, 25, 25);
}

.m1{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 850px;
    box-shadow: 10px 5px 5px rgb(46, 41, 156);
}

.d:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.o:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.m1:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.iu:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.r:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.t{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 100px;
    box-shadow: 10px 5px 5px rgb(137, 10, 116);
}

.t:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tet{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 100px;
    top: 300px;
    box-shadow: 10px 5px 5px rgb(211, 149, 26);
}

.tet:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.pak{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 100px;
    top: 550px;
    box-shadow: 10px 5px 5px rgb(97, 46, 58);
}

.pak:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.raw{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 350px;
    top: 550px;
    box-shadow: 10px 5px 5px rgb(103, 103, 112);
}

.raw:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.aar{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 600px;
    top: 550px;
    box-shadow: 10px 5px 5px rgb(1, 74, 12);
}

.aar:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.traw{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 850px;
    top: 550px;
    box-shadow: 10px 5px 5px rgb(64, 34, 111);
}

.traw:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.gm{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 1100px;
    top: 550px;
    box-shadow: 10px 5px 5px rgb(74, 224, 144);
}

.gm:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.rknr{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 1350px;
    top: 550px;
    box-shadow: 10px 5px 5px rgb(74, 224, 144);
}

.rknr:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}