*{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    background: url("https://top-fon.com/uploads/posts/2022-09/1663602093_2-top-fon-com-p-serii-fon-dlya-montazha-foto-2.png");
    background-size: 100%;
}


    

.e1, .e2{
    position: absolute;
    font-size: 30px;
    color: rgb(97, 87, 87);
    left: 750px;
    top: 400px;
    background: rgba(255, 255, 255, 0);
}

.r{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 1350px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.d{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 350px;
    box-shadow: 10px 5px 5px rgb(25, 203, 192);
}

.e2{
    top: 440px;
    left: 770px;
}

.ii{
    height: 837px;
    width: 1707px;
    position: absolute
}

.iu{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 1100px;
    box-shadow: 10px 5px 5px rgb(71, 154, 83);
}

a{
    left: 20px;
}

.o{
        width: 200px;
        height: 200px;
        border: 5px solid black;
        position: absolute;
        left: 600px;
        box-shadow: 10px 5px 5px rgb(203, 25, 25);
}

.m1{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 850px;
    box-shadow: 10px 5px 5px rgb(46, 41, 156);
}



.igri1:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.d:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}



.igri2:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.o:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.igri3:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.m1:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}



.igri4:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.iu:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.igri5{
    width: 200px;
    height: 200px;
    border: 5px solid;
    position: absolute;
    left: 1350px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.igri5:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.r:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.t{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    position: absolute;
    left: 100px;
    box-shadow: 10px 5px 5px rgb(137, 10, 116);
}

.t:hover{
    transition: 1s;
    width: 250px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}